Gideon.project/akademik.html
Gideon.project/eksul.html
Gideon.project/index.html
Gideon.project/README.md
Gideon.project/tentang.html
Gideon.project/Img/Bis.webp
Gideon.project/Img/Futsal.webp
Gideon.project/Img/kelas.webp
Gideon.project/Img/Logop.svg
Gideon.project/Img/Musik..webp
Gideon.project/Img/Pramuka.webp
Gideon.project/Img/Skolimg.webp
Gideon.project/Img/Student.webp
Gideon.project/Img/Tv.webp
Gideon.project/css/akademik.css
Gideon.project/css/Beranda.css
Gideon.project/css/eksul.css
Gideon.project/css/global.css
Gideon.project/css/Tentang.css
Gideon.project/javascript/eksul.js
Gideon.project/javascript/global.js
Gideon.project/template/Gideon.html
