h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

main {
  margin: 0;
  padding: 0;
  background-color: #f0f4ff;
}

.toptxt {
  margin: 1rem 0.8rem;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}
.subtitletop {
  width: fit-content;
  height: fit-content;
  padding: 4px 8px;
  background-color: #1e3a8a;
  color: white;
  border-radius: 15px;
  margin-left: 10px;
  display: flex;
}
.subtitletop h3 {
  font-size: 0.6rem;
  font-weight: 700;
}
.toptxt h1 {
  margin-top: 1px;
  font-size: 1.7rem;
  font-weight: 600;
  color: #0e2f93;
}
.toptxt p {
  margin-top: 2px;
  font-size: 0.73rem;
  font-weight: 700;
  color: #4b5eaa;
  margin-bottom: 12px;
}
.eksulcont {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.eksulcontainer {
  width: 90vw;
  height: fit-content;
  border: #d1d9f5 1px solid;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: white;
  margin: auto;
}
.itemimg1,
.itemimg2,
.itemimg3 {
  width: 90vw;
  height: 10rem;
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: flex-end;
}
.itemimg1 {
  background:
    linear-gradient(to top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.05) 60%),
    url("../Img/Futsal.png.jpg");
  background-size: cover;
  background-position: 40% 80%;
}
.itemimg2 {
  background:
    linear-gradient(to top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.05) 60%),
    url("../Img/Musik.png.jpg");
  background-size: cover;
  background-position: 50% 20%;
}
.itemimg3 {
  background:
    linear-gradient(to top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.05) 60%),
    url("../Img/Pramuka.png.jpg");
  background-size: cover;
  background-position: 40% 80%;
}

.itemimg1 h2,
.itemimg2 h2,
.itemimg3 h2 {
  margin-bottom: 9px;
  font-size: 1.3rem;
  color: white;
  margin-left: 7px;
}
.fa-regular.fa-futbol {
  margin-left: 15px;
  margin-bottom: 13px;
  font-size: 1.3rem;
  background-color: white;
  display: flex;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.fa-solid.fa-music {
  margin-left: 15px;
  margin-bottom: 10px;
  font-size: 1.3rem;
  color: #9858ff;
}
.fa-solid.fa-shoe-prints {
  margin-left: 15px;
  margin-bottom: 13px;
  font-size: 1.3rem;
  color: #92400e;
}
.itemimg1 p,
.itemimg2 p,
.itemimg3 p {
  width: fit-content;
  height: fit-content;
  padding: 3px 10px;
  border-radius: 15px;
  background-color: #fcac21;
  color: white;
  font-size: 0.75rem;
  font-weight: 600;
  margin-left: auto;
  margin-right: 11px;
  margin-bottom: auto;
  margin-top: 11px;
}
.summary {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.summary p {
  font-size: 0.75rem;
  font-weight: 500;

  margin-bottom: 0.9rem;
}
.eksulicon {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 10px;
}
.inicon1 {
  color: #4338ca;
  background-color: #eef2ff;
  width: 6rem;
  height: 1.4rem;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 15px;
  border: #c7d2fe 1.2px solid;
  gap: 5px;
}
.inicon1 i,
.inicon2 i {
  font-size: 0.7rem;
}
.inicon1 p,
.inicon2 p {
  font-size: 0.7rem;
  font-weight: 900;
  margin-top: 12px;
}
.inicon2 {
  color: #b45309;
  background-color: #fff7ed;
  width: 6.6rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 15px;
  border: #fde68a 1.2px solid;
  gap: 5px;
}
#toggle1,
#toggle2,
#toggle3 {
  width: 90vw;
  height: 5em;
  border: none;
  border-top: #e0e7ff 1.5px solid;
  background-color: white;
  border-radius: 0 0 15px 15px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  transition: border-radius 1.5s ease;
}
#toggle1.open,
#toggle2.open,
#toggle3.open {
  border-radius: 0;
  transition: border-radius 0s 0s;
}

.fa-solid.fa-chevron-up.open {
  transform: rotate(180deg);
}
.fa-solid.fa-chalkboard-user,
.fa-solid.fa-trophy,
.fa-solid.fa-circle-info {
  width: 2.2rem;
  height: 2.1rem;
  color: #3730a3;
  background-color: #eef2ff;
  border-radius: 10.5px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-left: 7px;
  flex-shrink: 0;
}
.fa-solid.fa-circle-info {
  color: #059669;
  background-color: #d7ffed;
}
.fa-solid.fa-trophy {
  color: #b45309;
  background-color: #fef9c3;
}
#toggle1 h3,
#toggle2 h3,
#toggle3 h3 {
  color: #1e3a8a;
  font-size: 0.9rem;
  text-align: start;
  margin-left: 1rem;
}
.fa-solid.fa-chevron-up {
  margin-left: auto;
  margin-right: 5px;
  color: #453acb;
  font-size: 1rem;
  transition: transform 0.4s ease;
}
.itemcontent1,
.itemcontent2,
.itemcontent3 {
  width: 90vw;
  max-height: 0;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  border-radius: 0 0 15px 15px;
  transition: max-height 0.5s ease;
  margin-bottom: 2rem;
  overflow: hidden;
}
.itemcontent1.open,
.itemcontent2.open,
.itemcontent3.open {
  max-height: 63rem;
  border: #e0e7ff 1px solid;
}
.pembinacont {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-right: auto;
  margin-left: 1.5rem;
  margin-top: 1.2rem;
}
.pembinaicon {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  color: #2f32fb;
  gap: 6px;
}
.pembinaicon h4 {
  font-size: 0.75rem;
  font-weight: 500;
}
.pembinaicon .fa-solid.fa-user {
  color: #3730a3;
  border-radius: 50%;
  height: 3.35rem;
  width: 3.385rem;
  font-size: 1.4rem;
  background-color: #c7d2fe;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.pembinatxt {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: start;
  margin-top: 1rem;
}
.pembinatxt .pembinaname {
  font-size: 1rem;
  font-weight: 500;
}
.pembinatxt .pembinaocc {
  font-size: 0.72rem;
  font-weight: 600;
  color: #3336e5;
}

.tentangeksulcont {
  display: flex;
  margin-top: 1rem;
  border-top: 1px solid #e0e7ff;
  padding: 10px;
  flex-direction: column;
}
.tentangeksulcont h4 {
  color: #029063;
  margin-left: 1rem;
  margin-bottom: 5px;
  margin-top: 7px;
  font-size: 0.85rem;
  font-weight: 700;
}
.tentangeksulcont .eksulttg {
  color: #374151;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 1rem;
  padding-top: 0;
}
.syaratcont {
  width: 75vw;
  height: 7.4rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-color: #eef2ff;
  margin: auto;
  padding: 10px;
  border-left: 3px solid #4338ca;
  gap: 8px;
  margin-bottom: 1rem;
}
.syaratcont h5 {
  margin: 2px;
  font-size: 0.9rem;
  font-weight: 700;
  color: #4338ca;
  margin-left: 0.4rem;
}
.syaratitem {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 7px;
}
.syaratitem p {
  font-size: 0.9rem;
  font-weight: 500;
}
.syaratitem i {
  color: #4338ca;
  font-size: 0.85rem;
  margin-left: 3px;
}
.jadwalcont {
  border-top: 1px solid #e0e7ff;
  padding-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  width: 90vw;
}
.jadwalcont h5 {
  color: #4338ca;
  font-size: 1rem;
  margin-right: auto;
  margin-left: 1rem;
  font-weight: 600;
}
.jadwalitem {
  width: 75vw;
  height: fit-content;
  border: 1px solid #e0e7ff;
  border-radius: 15px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: start;
  background-color: #f8faff;
  text-align: start;
  padding: 10px;
  gap: 10px;
}
.jadwalitem i {
  color: #6366f1;
  margin: 0;
  font-size: 1.2rem;
  margin-left: 5px;
}
.jadwaltxt {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  align-content: flex-start;
  align-items: flex-start;
  text-align: left;
  gap: 2px;
}
.jadwaltxt h5 {
  color: #9ca3af;
  font-size: 0.72rem;
  font-weight: 700;
  margin: 0;
  margin-right: auto;
}
.jadwaltxt p {
  font-size: 0.89rem;
  font-weight: 600;
  margin: 0;
  color: #1e3a8a;
}
.prestasicont {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-top: 1px solid #e0e7ff;
  padding: 10px;
  width: 85vw;
}
.prestasicont h5 {
  font-size: 0.9rem;
  font-weight: 600;
  color: #b45309;
  margin: 8px;
  margin-left: 12px;
  margin-bottom: 0;
}
.prestasiitem1,
.prestasiitem2,
.prestasiitem3 {
  width: 70vw;
  height: 3rem;
  padding: 10px;
  border-radius: 15px;
  margin: auto;
  display: flex;
  align-items: center;
  align-content: center;
}
.prestasiitem1 i,
.prestasiitem2 i,
.prestasiitem3 i {
  width: 2.7rem;
  height: 2.7rem;
  font-size: 1.2rem;
  border-radius: 11px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 12px;
}
.prestasiitem1 h6,
.prestasiitem2 h6,
.prestasiitem3 h6 {
  font-size: 0.92rem;
  font-weight: 600;
}
.prestasiitem1 p,
.prestasiitem2 p,
.prestasiitem3 p {
  font-size: 0.72rem;
  font-weight: 500;
  color: #374151;
}
.prestasiitem1 h6 {
  color: #92400e;
}
.prestasiitem1 {
  border: 1px solid #fde68a;
}
.prestasiitem1 i {
  color: #d97706;
  background-color: #fef9c3;
}
.prestasiitem2 h6,
.prestasiitem3 h6 {
  color: #374151;
}
.prestasiitem2 {
  border: 1px solid #d1d9f5;
}
.prestasiitem2 i {
  color: #6366f1;
  background-color: #eef2ff;
}
.prestasiitem3 i {
  color: #059669;
  background-color: #f0fdf4;
}
.prestasiitem3 {
  border: 1px solid #d1d9f5;
}
