h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

main {
  margin: 0;
  padding: 0;
}

.microtext {
  width: 75px;
  height: 15px;
  text-align: center;
  background-color: #bfd7f886;
  display: flex;
  margin-top: 1.5em;
  margin-left: 0.9em;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 125px;
  flex-shrink: 0;
  padding: 5px;
}
.microtext h6 {
  font-weight: 600;
  color: #3c5ec5;
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
  letter-spacing: 0.25px;
}

.iftxt {
  width: fit-content;
  height: fit-content;
  margin-top: 4px;
  margin-left: 1em;
  margin-bottom: 20px;
}

.iftxt h3 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #07257f;
}

.ttgimg {
  width: 85vw;
  height: 24vh;
  background-image:
    linear-gradient(
      to top,
      rgba(4, 15, 60, 0.9) 0%,
      rgba(7, 37, 127, 0.4) 50%,
      rgba(7, 37, 127, 0) 100%
    ),
    url(placeholder);
  background-color: white;
  background-size: 100%;
  margin: auto;
  border-radius: 20px;
  display: flex;

  flex-direction: column;
  align-items: start;
  align-content: end;
  justify-content: flex-end;
  color: white;
  padding: 1em;
}
.ttgimg h4 {
  font-size: 1.2rem;
  font-weight: 600;
}
.ttgimg h6 {
  color: #cbcdd8;
  font-size: 0.7rem;
}

.ttgtxt {
  width: 80vw;
  height: fit-content;
  padding: 10px;
  box-shadow:
    0 2px 8px rgba(0, 0, 0, 0.05),
    0 8px 24px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: start;
  align-items: start;
  padding: 1em;
  gap: 10px;
  margin-top: 1.2em;
  border-radius: 15px;
  flex-shrink: 0;
  align-self: center;
  justify-self: center;
}
.ttgtxt h4 {
  color: #1d318d;
  font-size: 1.1rem;
  font-weight: 700;
}
.ttgtxt h5 {
  font-size: 0.8rem;
  font-weight: 600;
  word-spacing: 0.25px;
}

.visicont {
  width: 80vw;
  height: fit-content;
  padding: 1.4em;
  padding-top: 1em;
  background-color: #d9eafd70;
  box-shadow:
    0 2px 8px rgba(0, 0, 0, 0.05),
    0 8px 24px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  text-align: start;
  align-content: center;
  margin-top: 1.5em;
  border-radius: 15px;
  flex-grow: 0;
}
.visicont h4,
.misicont h4 {
  color: #0e40b3;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 5px;
}
.visicont h5,
.misicont h5 {
  font-size: 0.8rem;
  font-weight: 600;
  word-spacing: 0.25px;
}
.misicont {
  width: 80vw;
  height: fit-content;
  padding: 1em;
  background-color: #fef2c172;
  box-shadow:
    0 2px 8px rgba(0, 0, 0, 0.05),
    0 8px 24px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  text-align: start;
  align-content: center;
  margin-top: 1em;
  border-radius: 15px;
  flex-grow: 0;
}
.misicont span {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 5px;
  margin-top: 10px;
  align-content: center;
  text-align: start;
}
.misicont i {
  color: #e28d0c;
  font-size: 0.75em;
  margin-top: 3px;
}

.misicont h4 {
  color: #d28511;
  font-size: 1rem;
  font-weight: 600;
}

.struktur {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding-left: 10px;
  gap: 1em;
  margin-bottom: 2em;
}
.struktur h5 {
  color: #3f398e;
  font-size: 1.1em;
  font-weight: 600;
  margin-left: 5px;
  align-self: flex-start;
}

.inner1,
.inner2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
.personimg {
  width: 13vw;
  height: 6.5vh;
  border-radius: 50%;
  padding: 2px;
  background: #7392eea5;
  flex-grow: 0;
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.person {
  width: 40vw;
  height: 20vh;

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow:
    0 2px 8px rgba(0, 0, 0, 0.05),
    0 8px 24px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  gap: 5px;
}
